<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Content Manager</title>

  <script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>
	{{- $css := resources.Get "cms/css/main.css" | postCSS (dict "inlineImports" true) | minify | fingerprint -}}
</head>
<body>
	{{- $cms := resources.Get "cms/index.js" | js.Build | minify | fingerprint -}}
  <script type="module" src="{{ $cms.Permalink }}" integrity="{{ $cms.Data.Integrity }}" defer></script>
	{{ block "main" . }}{{ end }}
</body>
</html>
