<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Content Manager</title>

	{{- $css := (slice (resources.Get "cms/css/main.css" | postCSS (dict "inlineImports" true "noMap" true))) | resources.Concat "css/cms.css" | minify | fingerprint -}}
	<link href="{{ $css.RelPermalink }}" rel="stylesheet" integrity="{{ $css.Data.Integrity }}" />
	{{- $cms := resources.Get "cms/index.js" | js.Build (dict "targetPath" "js/cms.js" "sourceMap" "external" "minify" true) | fingerprint -}}
  <script type="module" src="{{ $cms.RelPermalink }}" integrity="{{ $cms.Data.Integrity }}" defer></script>
</head>
<body>
	{{ block "main" . }}{{ end }}
</body>
</html>
